<body
  style="
    margin: 0;
    padding: 0;
    font-family: Tahoma
  "
>
  <div
    style="
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
    "
  >
    <h1 style="background-color: #f00; padding: 16px 32px; border-radius: 8px">404 Error</h1>
    <p>Page Not Found</p>
    <p>You can go to <a href="/" style="text-decoration: none; color: #0ffdda; font-weight: bold;">Home Page</a></p>
  </div>
</body>
