{% extends 'base.html' %}

{% block title %}
  About
{% endblock %}

{% block about_template %}
  <div class="mt-5">
    <article>
      {% for about in about_text %}
        <h1>{{ about.title }}</h1>
        <p>{{ about.body }}</p>
      {% endfor %}
    </article>
    <h2 class="mt-4 mb-4">Our Team</h2>
    <div style="
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-gap: 16px;
    ">
      {% for member in team %}
        <div class="card">
          <div class="card-header">
            <div>
              <img class="img-thumbnail" src="{{ member.avatar.url }}" alt="{{ member.position}}">
            </div>
            <h3 class="text-center mt-2 mb-2">{{member.first_name}} {{member.last_name}}</h3>
          </div>
          <div class="card-body">
            <h4>{{ member.position}}</h4>
            <p>{{member.about}}</p>
          </div>
          <div class="card-footer">
            <a href="{% url 'app:single_member' member.id %}" class="btn btn-success d-block">Read More</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
