{% load static i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block seo_block %}{% endblock %}
    {% block og_block %}{% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href={% static "css/styles.css"%}>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container w-100">
        <a href="{% url 'app:index' %}" class="navbar-brand">
          <img 
            src={%static "img/logo.png"%} 
            alt="logo"
            class="img-fluid"
            style="width: 200px; height: 100px;"
          >
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mobileMenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse gap-4" id="mobileMenu">
          <ul class="navbar-nav w-100 justify-content-end gap-3">
            <li class="nav-item">
              <a href="{% url 'app:employees' %}" style="color: #16bc5c" class="text-hover fs-5 text-decoration-none">{% trans "Employees"%}</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'app:about' %}" style="color: #16bc5c" class="text-hover fs-5 text-decoration-none">{% trans "About" %}</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'app:contact' %}" style="color: #16bc5c" class="text-hover fs-5 text-decoration-none">{% trans "Contact" %}</a>
            </li>

            {% if user.is_authenticated and request.resolver_match.url_name != 'profile' %}
              <li class="nav-item">
                <a style="color: #16bc5c" class="text-hover fs-5 text-decoration-none" href="{% url 'app:profile' %}">{% trans "Profile" %}</a>
              </li>
            {% endif %}

            {% if user.is_authenticated %}
              <li class="nav-item">
                <a style="color: #16bc5c" class="text-hover fs-5 text-decoration-none" href="{% url 'app:logout' %}">{% trans "Logout" %}</a>
              </li>
              
            {% else %}
              <li class="nav-item">
                <a style="color: #16bc5c" class="text-hover fs-5 text-decoration-none" href="{% url 'app:login' %}">{% trans "Login" %}</a>
              </li>
              <li class="nav-item">
                <a style="color: #16bc5c" class="text-hover fs-5 text-decoration-none" href="{% url 'app:signup' %}">{% trans "Sign Up" %}</a>
              </li>
            {% endif %}
          </ul>
          <div class="d-flex gap-2">
            <form id="language-form" action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input type="hidden" id="language-input" name="language">
            </form>
  
            {% for l in LANGUAGES %}
                <button class="language-button btn btn-sm btn-info text-white" value="{{ l.0 }}">{{ l.1 }}</button>
            {% endfor %}
          </div>
        </div>
      </div>
    </nav>
    <main class="container">
      {% block home_template %}{% endblock %}
      {% block employees_template %}{% endblock %}
      {% block single_employee_template %}{% endblock %}
      {% block single_team_template %}{% endblock %}
      {% block about_template %}{% endblock %}
      {% block contact_template %}{% endblock %}
      {% block profile_template %}{% endblock %}
      {% block login_template %}{% endblock %}
      {% block signup_template %}{% endblock %}
    </main>
    <footer>
      <div class="container">
        {% trans "All Rights Reserved" %} &copy; 2024
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src={%static "js/script.js"%}></script>
  </body>
</html>
