{% extends 'base.html' %}

{% block seo_block %}
  {% for item in seo %}
    <title> {{item.title}} </title>
    <meta name="title" content="{{item.title}}">
    <meta name="description" content="{{item.description}}">
    <meta name="keywords" content="{{item.keywords}}">
    <meta name="robots" content="{{item.robots}}">
    <meta http-equiv="Content-Type" content="{{item.content_type}}">
    <meta name="language" content="{{item.language}}">
  {% endfor %}
{% endblock %}

{% block og_block %}
  {% for item in og %}
    <meta property="og:title" content="{{item.title}}" />
    <meta property="og:type" content="{{item.type}}" />
    <meta property="og:url" content="{{item.url}}" />
    <meta property="og:image" content="{{item.image.url}}" />
    <meta property="og:description" content="{{item.description}}" />
  {% endfor %}
{% endblock %}

{% block contact_template %}
  <div class="mt-5">
    <h1>Contact</h1>
    <div>
      {% for contact in contact_text %}
        <p>Address: {{ contact.address }}</p>
        <p>Email: {{ contact.email }}</p>
        <p>Phone: {{ contact.phone }}</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
