{% extends 'base.html' %}

{% block seoBlock %}
  {% for item in seo %}
    <title> {{item.title}} </title>
    <meta name="title" content="{{item.title}}">
    <meta name="description" content="{{item.description}}">
    <meta name="keywords" content="{{item.keywords}}">
    <meta name="robots" content="{{item.robots}}">
    <meta http-equiv="Content-Type" content="{{item.content_type}}">
    <meta name="language" content="{{item.language}}">
  {% endfor %}
{% endblock %}

{% block employees_template %}
  <div class="table-responsive mt-5">
    <table class="table table-hover table-bordered table-primary">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>FIRSTNAME</th>
          <th>LASTNAME</th>
          <th>EMAIL</th>
          <th>IS MARRIED</th>
          <th>SALLARY</th>
          <th>DEPARTMENT</th>
          <th>CONTACT EXP</th>
          <th>INFO</th>
        </tr>
      </thead>
      <tbody>
        {% for employee in employees %}
          <tr>
            <th>{{ employee.id }}</th>
            <td>{{ employee.first_name }}</td>
            <td>{{ employee.last_name }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.is_married }}</td>
            <td>{{ employee.salary }}</td>
            <td>{{ employee.department }}</td>
            <td>{{ employee.contract_exp }}</td>
            <td>
              <a href="{% url 'app:single_employee' employee.id %}">See More</a>
              {% comment %} <a href="{{ employee.id }}">See More</a> {% endcomment %}
              {% comment %} <a href="/employees/{{ employee.id }}">See More</a> {% endcomment %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
