{% extends 'base.html' %}

{% block seo_block %}
  {% for item in seo %}
    <title> {{item.title}} </title>
    <meta name="title" content="{{item.title}}">
    <meta name="description" content="{{item.description}}">
    <meta name="keywords" content="{{item.keywords}}">
    <meta name="robots" content="{{item.robots}}">
    <meta http-equiv="Content-Type" content="{{item.content_type}}">
    <meta name="language" content="{{item.language}}">
  {% endfor %}
{% endblock %}

{% block og_block %}
  {% for item in og %}
    <meta property="og:title" content="{{item.title}}" />
    <meta property="og:type" content="{{item.type}}" />
    <meta property="og:url" content="{{item.url}}" />
    <meta property="og:image" content="{{item.image.url}}" />
    <meta property="og:description" content="{{item.description}}" />
  {% endfor %}
{% endblock %}

{% block home_template %}
  <div class="mt-5 text-center">
    <h1>Welcome to Employees</h1>
    <p>This is an our official website</p>
  </div>
  <div class="mt-5">
    <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      {% for slide in slides %}
        <div class="swiper-slide position-static">
          <div 
            class="slider-conten position-absolute p-5"
            style="
              max-width: 400px; 
              background: rgba(0, 0, 0, 0.8); 
              color: #fff;
              top: 50px;
              left: 50px;
            "
          >
            <h3>{{slide.title}}</h3>
            <p>{{slide.descr}}</p>
            {% if slide.link  %}
              <a class="btn btn-success" href="{{slide.link}}">Read More</a>
            {% endif %}
          </div>
          <img src="{{slide.img.url}}" alt="{{slide.title}}">
        </div>
      {% endfor %}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  </div>
{% endblock %}
