{% extends 'base.html' %}

{% block seo_block %}
  {% for item in seo %}
    <title> About {{ member.first_name }} {{ member.last_name }} | {{item.title}} </title>
    <meta name="title" content="About {{ member.first_name }} {{ member.last_name }} | {{item.title}}">
    <meta name="description" content="{{item.description}}">
    <meta name="keywords" content="{{item.keywords}}">
    <meta name="robots" content="{{item.robots}}">
    <meta http-equiv="Content-Type" content="{{item.content_type}}">
    <meta name="language" content="{{item.language}}">
  {% endfor %}
{% endblock %}

{% block og_block %}
  {% for item in og %}
    <meta property="og:title" content="{{item.title}}" />
    <meta property="og:type" content="{{item.type}}{{member.id}}" />
    <meta property="og:url" content="{{item.url}}{{member.id}}" />
    <meta property="og:image" content="{{item.image.url}}" />
    <meta property="og:description" content="{{item.description}}" />
  {% endfor %}
{% endblock %}


{% block single_team_template %}
  <div class="card mt-5">
    <div class="card-header">
      <h1>{{ member.first_name }} {{ member.last_name }}</h1>
    </div>
    <div class="card-body">
      <img class="img-thumbnail" src="{{member.avatar.url}}"  alt="{{member.first_name}}">
      <h4>Position: {{ member.position }}</h4>
      <h4>About: {{ member.about }}</h4>
    </div>
  </div>
{% endblock %}
